<section class="hero">
  <div class="container">
    <div class="hero__text-content">
      <div class="hero__title-wrapper">
        <img
          class="hero__sun-icon"
          src="/img/hero_images/sun.png"
          alt="sun icon"
          loading="lazy"
        />
        <h1 class="hero__title">
          Get <span class="hero__title--italic">Body</span> in shape,<br />
          <span class="hero__title--indented">Stay healthy</span>
        </h1>
      </div>
      <p class="hero__description">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>

    <div class="hero__media-content">
      <picture class="hero-small-photo hidden-photo">
        <source
          media="(min-width: 1440px) and (min-resolution: 2dppx)"
          srcset="./img/hero_images/image_small_desktop_png@2x.png 2x"
        />
        <source
          media="(min-width: 1440px)"
          srcset="./img/hero_images/image_small_desktop_png@1x.png"
        />
        <img
          class="hero-photo-small"
          width="168"
          height="100"
          src="./img/hero_images/image_small_desktop_png@1x.png"
          alt="Two sportswomen against the backdrop of nature"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/hero_images/hero_desktop_png@1x.png 1x,
            ./img/hero_images/hero_desktop_png@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/hero_images/hero_tablet_png@1x.png 1x,
            ./img/hero_images/hero_tablet_png@2x.png 2x
          "
        />

        <img
          class="hero__image"

          width="335"
          height="460"

          srcset="
            ./img/hero_images/hero_mobile_png@1x.png 1x,
            ./img/hero_images/hero_mobile_png@2x.png 2x
          "
          src="./img/hero_images/hero_mobile_png@1x.png"
          alt="Young women giving a high-five"
          loading="lazy"
        />
      </picture>
      <ul class="hero__tags">
        <li class="hero__tag">#Sport</li>
        <li class="hero__tag">#Healthy</li>
        <li class="hero__tag">#Workout</li>
        <li class="hero__tag">#Diet</li>
      </ul>
    </div>
  </div>
</section>
