.pagination {
  display: flex;
  font-size: 24px;
  gap: 20px;
  color: lightgray;
  justify-content: center;
  margin-top: auto;
  padding: 20px 0;
  width: 100%;
  list-style: none;
}

.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  
}

.pagination-page {
  color: #D4D4D4;
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.96px;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
  transition: 0.2s ease-in-out;
  color: black;
  width: 32px;
  height: 32px;
}

.m-categories .pagination {
  margin-top: auto;
}

.m-workouts .pagination {
  margin-top: 20px;
}

.workouts-pagination,
.categories-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.workouts-pagination.pagination,
.categories-pagination.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px !important;
}