.pagination {
  display: flex;
  font-size: 24px;
  gap: 20px;
  color: lightgray;
  order: 2;
  align-items: center;
}

.workouts-pagination,
.categories-pagination {
  gap: 4px;
}

/* Добавляем стили для многоточия */
.pagination-dots {
  color: #000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.pagination-page {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.pagination-page:hover:not(.selected) {
  background-color: rgba(0, 0, 0, 0.1);
}

.selected {
  border: 1px solid rgba(0, 0, 0, 1);
  color: black;
}

@media screen and (min-width: 1280px) {
  .pagination {
    position: absolute;
    bottom: 0;
  }
}
